@import 'styles.less';

.breadcrumb {
	background-color: @beige;
	li {
		font-size: 14pt;
		a {
			color: @darkpurple;
			margin: 15px;
		}
		&.active { font-weight: bold; }
	}
}

.page-title {
	color: @darkpurple;
	font-weight: bold;
	font-weight: bold;
    text-align: center;
    margin-top: 30px;
}