{% extends "base.html" %}
{% load staticfiles %}
{% block less %}<link rel="stylesheet/less" type="text/css" href="{% static 'less/page.less' %}" />{% endblock %}
{% block content %}
<div id="jeopardy">
	<table>
		<tbody>
			<tr class="text-center"><td colspan="8" class="axis">CATEGORIES</td></tr>
			<tr>
				<td rowspan="8"><div class="axis yaxis">POINTS</div></td>
				<td></td>
				<td><input type="text" id="category-1" placeholder="Category 1"></td>
				<td><input type="text" id="category-2" placeholder="Category 2"></td>
				<td><input type="text" id="category-3" placeholder="Category 3"></td>
				<td><input type="text" id="category-4" placeholder="Category 4"></td>
				<td><input type="text" id="category-5" placeholder="Category 5"></td>
				<td><input type="text" id="category-6" placeholder="Category 6"></td>
			</tr>
			<tr>
				<td><input type="number" id="points-1" value="100" class="points"></td>
				<td><textarea id="question-1-1" class="question" rows="4"></textarea></td>
				<td><textarea id="question-2-1" class="question" rows="4"></textarea></td>
				<td><textarea id="question-3-1" class="question" rows="4"></textarea></td>
				<td><textarea id="question-4-1" class="question" rows="4"></textarea></td>
				<td><textarea id="question-5-1" class="question" rows="4"></textarea></td>
				<td><textarea id="question-6-1" class="question" rows="4"></textarea></td>
			</tr>
			<tr>
				<td><input type="number" id="points-1" value="200" class="points"></td>
				<td><textarea id="question-1-2" class="question" rows="4"></textarea></td>
				<td><textarea id="question-2-2" class="question" rows="4"></textarea></td>
				<td><textarea id="question-3-2" class="question" rows="4"></textarea></td>
				<td><textarea id="question-4-2" class="question" rows="4"></textarea></td>
				<td><textarea id="question-5-2" class="question" rows="4"></textarea></td>
				<td><textarea id="question-6-2" class="question" rows="4"></textarea></td>
			</tr>
			<tr>
				<td><input type="number" id="points-1" value="300" class="points"></td>
				<td><textarea id="question-1-3" class="question" rows="4"></textarea></td>
				<td><textarea id="question-2-3" class="question" rows="4"></textarea></td>
				<td><textarea id="question-3-3" class="question" rows="4"></textarea></td>
				<td><textarea id="question-4-3" class="question" rows="4"></textarea></td>
				<td><textarea id="question-5-3" class="question" rows="4"></textarea></td>
				<td><textarea id="question-6-3" class="question" rows="4"></textarea></td>
			</tr>
			<tr>
				<td><input type="number" id="points-1" value="400" class="points"></td>
				<td><textarea id="question-1-4" class="question" rows="4"></textarea></td>
				<td><textarea id="question-2-4" class="question" rows="4"></textarea></td>
				<td><textarea id="question-3-4" class="question" rows="4"></textarea></td>
				<td><textarea id="question-4-4" class="question" rows="4"></textarea></td>
				<td><textarea id="question-5-4" class="question" rows="4"></textarea></td>
				<td><textarea id="question-6-4" class="question" rows="4"></textarea></td>
			</tr>
			<tr>
				<td><input type="number" id="points-1" value="500" class="points"></td>
				<td><textarea id="question-1-5" class="question" rows="4"></textarea></td>
				<td><textarea id="question-2-5" class="question" rows="4"></textarea></td>
				<td><textarea id="question-3-5" class="question" rows="4"></textarea></td>
				<td><textarea id="question-4-5" class="question" rows="4"></textarea></td>
				<td><textarea id="question-5-5" class="question" rows="4"></textarea></td>
				<td><textarea id="question-6-5" class="question" rows="4"></textarea></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
