{% extends "base.html" %}
{% load staticfiles %}
{% block less %}<link rel="stylesheet/less" type="text/css" href="{% static 'less/page.less' %}" />{% endblock %}
{% block content %}
<div id="jeopardy">
	<p class="text-center">Select the size of your board, and create the categories, questions, and answers for your game!</p>
	<form method="get" action="{% url 'jeopardy' %}" class="text-center">
		<label for="num-rows">Rows</label> <input type="number" id="num-rows" min=2 max=10 pattern="\d+" name="rows" required value={{numrows}} class="board-size">
		&nbsp; <label for="num-cols">Columns</label> <input type="number" id="num-cols" min=2 max=10 pattern="\d+" name="cols" required value={{numcols}} class="board-size">
		<input type="submit" value="APPLY" class="btn btn-teal">
	</form>
	<hr>
	<form action="{% url 'create_jeopardy' %}" method="post">
		<table>
			<tbody>
				<tr class="text-center"><td colspan="{{numcols|add:2}}" class="axis">CATEGORIES</td></tr>
				<tr>
					<td rowspan="{{numrows|add:1}}"><div class="axis yaxis">POINTS</div></td>
					<td></td>
					{% for category in categories %}
						<td><input type="text" name="c-{{category}}" class="category" placeholder="Category {{category}}" required></td>
					{% endfor %}
				</tr>
				{% for row in grid %}
				<tr>
					<td class="text-right"><input type="number" name="p-{{row.num}}" value="{{row.points}}" class="points" required min=1></td>
					{% for col in row.columns %}
					<td>
						<div>
							<textarea name="q-{{row.num}}-{{col}}" class="question" rows="4" placeholder="Clue" required></textarea>
						</div>
						<div>
							<textarea name="a-{{row.num}}-{{col}}" class="answer" rows="2" placeholder="Answer" required></textarea>
						</div>
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="bottom-wrapper">
			<input type="submit" value="CREATE GAME!" class="btn btn-teal" id="create-jeopardy-game">
		</div>
	</form>
</div>
{% endblock %}
